.containerLogin{  
  margin-bottom: 6vh;
  margin-top: 6vh;
  flex-direction: column;  
  margin-left: 16px;  
  margin-right: 16px; 
}  

.espacoLogin{
  margin-bottom: 6vh;
  margin-top: 6vh;
  height: 33vh;
  width: 80vw;
  display: flex;  
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;    
}

.baseLogin {  
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 100%;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
}  
  
.inputsLogin {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: center; 
  margin-left: 16px;  
  margin-right: 16px;  
}

.botaoLogin{
  font-size: 1em;
  align-self: center;
  background-color: #EACCA8;
  border-color: #EACCA8;
  box-shadow: inherit;
  border-radius: 6px;
}