@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.basePerfil{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11%;
  margin-right: 11%;
}

.caixaPerfil{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  padding-right: 15%;
  width: 50vw;
}

/* Um grupo é nome do dado + dado*/
.inputGroupPerfil{
  display: flex;
  padding-bottom: 10px;
}

.inputPerfil{
  justify-self: flex-start;
  width: 85%;
  background-color: #F2E2D0;
  border-style: inherit;
  border-radius: 5px;
  box-shadow:  1px 1px 1px #C4C4C4;
  font-size: 1em;
}

.inputTipoPerfil{
  font-size: 0.9em;
  justify-self: flex-start;
  color: #343434;
  width: 20%;
}

.titlePerfil{
  font-size: 2.5em;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.subtitlePerfil{  
  font-size: 1.5em;
  font-weight: lighter;
  padding-bottom: 20px;
}

.formPerfil{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.botaoPerfil{
  font-size: 1em;
  align-self: flex-end;
  background-color: #EACCA8;
  border-color: #EACCA8;
  box-shadow: inherit;
  border-radius: 5px;
}