.containerProdutos{  
    display: list-item;  
    flex-direction: row; 
    align-items: center; 
    margin-left: 16px;  
    margin-right: 16px; 
  } 
  
  .baseProdutos{  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
  }  
    
  .inputsProdutos {  
    display: list-item;  
    flex-direction: row; 
    align-items: center;  
    margin-left: 16px;  
    margin-right: 16px;  
  }