.base{
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 2vh;
}

.carrosselContainer{
  display: flex;
  justify-content: space-around;
  background-color: #F2E2D0;
  padding: 10px 10px 10px 10px;
  margin-left: 11%;
  margin-right: 11%;
}

.carrossel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imagemHomeContainer{
  padding-right: 11%;
  padding-left: 11%;
  background-color: #DCDCDC;
}

.imagemHome{
  height: 56vh;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/img-home-last.jpg);
}

.sobre{
  background-color: #EBEBEB;
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 4vh;
  padding-bottom: 10vh;
  margin-top: 5%;
}

.sobreTitle{
  font-size: 1.3em;
  font-weight: lighter;
  padding-bottom: 20px;

}

.sobreContent{
  font-size: 0.8em;
}

@media screen and (max-width: 960px) {
  .imagemHome{
    height: 40vh;
  }

  .imagemHomeContainer{
    padding-right: inherit;
    padding-left: inherit;
    background-color:inherit;
  }

}

@media screen and (max-width: 600px) {
  .imagemHome{
    height: 30vh;
  }

  .imagemHomeContainer{
    padding-right: inherit;
    padding-left: inherit;
    background-color:inherit;
  }

}

