.cardProduto{
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #ffff;
width: 90%;
align-items: center;
padding-bottom: 2vh;
}

.cardFotoProduto{
width: 80%;
margin-top: 1em;
margin-bottom: 1em;
cursor: pointer;

}

.cardNomeProduto{
font-size: 1.1em;
overflow: hidden;
justify-content: center;

}

.cardPreço{
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 2vh;
}
 
.cardBotao{
  background-color: #F2E2D0 !important;
  color: black !important;
  font-family: 'Didact Gothic', sans-serif !important;
  border-radius: 90px !important;
  width: 45% !important;
}

@media (max-width: 430px){
    .cardNomeProduto{
    font-size: 1.1rem
    }
    .cardPreço{ 
      font-size: 1rem;
    }

}