.finalpag{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 11vh;
  background-color: #F2E2D0;
  padding-left: 11%;
  padding-right: 11%;
  position: relative;
  bottom:0;
  width:100%;
  margin-top: 8vh;
 
}

.logo2{
  max-height: 70%;
}

.iconContainer2{
  margin-left: auto;
}
