/*Fonte Didact Gothic*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.cardContainerCarrossel{
  display: flex;
  justify-content: center;
  height: 50vmin;
  min-width: 20vw;
}

/* Roots dos componentes MUI */
.myCard{
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  padding-bottom: 2vh;
}

/* Por algum motivo o css passou a ser sobrescrito por
    essa regra: .css-68fhrh-MuiTypography-root DO NADA
    por isso coloquei important em tudo*/
.MuiTypography-root{
  font-family: 'Didact Gothic', sans-serif !important;
}

.nomeCard{
  font-size: 2.5vh !important;
  padding-top: 10px;
}

.precoCard{
  padding-bottom: 1vh;
  font-size: 2vh !important;
}

.myButton{
  background-color: #F2E2D0 !important;
  color: black !important;
  font-family: 'Didact Gothic', sans-serif !important;
  border-radius: 90px !important;
  width: 45% !important;
}

/*Solucao que encontrei para colocar imagem, estah como imagem de fundo
*/
.prodImageCartao{
  width: 80%;
}

@media(max-width: 850px){
  .cardContainerCarrossel{
    display: flex;
    justify-content: center;
    height: 38vh;
    width: 100% ;
  }

  /* Nao consegui diminuir o tamanho do botao aaaaaa*/
  .myButton{
    background-color: #F2E2D0 !important;
    color: black !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 0.6em !important;
  }

  .prodImageCartao{
    width: 100%; 
  }
}

/*@media(max-width: 560px){
  .MuiCard-root{
    width: 200px;
    height: 200px;
  }

  .MuiCardContent-root{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .MuiButton-root{
    background-color: #F2E2D0 !important;
    color: black !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 0.6em;
  }

  .prodImage{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-image: url(../../images/anel1.jpg);
  }
  
}

@media(max-width:430px){
  .MuiCard-root{
    width: 100px;
    height: 156px;
  }

  .MuiTypography-h5{
    font-size: 0.7em !important;
    padding-top: inherit;
  }
  
  .MuiTypography-h6{
    font-size: 0.6em !important;
    padding-bottom: 0px;
  }

  .MuiButton-root{
    background-color: #F2E2D0 !important;
    color: black !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 0.6em;
    padding-bottom: 0px;
    padding-top: inherit;
  }
}
*/


