.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12.5vh;
  background-color: #F2E2D0;
  padding-left: 11%;
  padding-right: 11%;
}

.logo{
  max-height: 90%;
}

.icone{
  color: #343434;
}

.iconContainer{
  margin-left: auto; 
}

.linknavbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  background-color: #EACCA8;
  padding-left: 11%;
  padding-right: 11%;
}

.linkConfig{
display: flex;
text-decoration: none;
color:#343434 ;
padding-left: 5%;
padding-right: 11.5%;
}

.finalpag{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 11vh;
  background-color: #F2E2D0;
  padding-left: 11%;
  padding-right: 11%;
  position:absolute;
  bottom:0;
  width:100%;
 
}

.logo2{
  max-height: 70%;
}

.iconContainer2{
  margin-left: auto;
}
